/* @import "./master.css"; */

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

body {
    background: linear-gradient(to right hsl(200, 100%, 50%), hsl(150, 100%, 50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    
}
.restart:hover{
    cursor: pointer;
}
.clock{
    position: absolute;
    width: 900px;
    height: 900px;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 0%;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#game {
    width: 900px;
    height: 900px;
    border: 1px solid black;
    margin: auto;
    border-radius: 0%;

}
#character{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 390px;
    z-index: 100;
}

.howtoplay {
    font-size: 42px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.block{
    /* max-width: 880px; */
    /* width: 100px; */
    height: 20px;
    background-color: black;
    position: relative;
    top: 1010px;
    margin-top: -20px;
    /* border-radius: 50%; */
}

.hole{
    width: 30px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 110px;
    margin-top: -20px;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 900px;
    height: 900px;
    /* background-color: red; */
    text-align: center;
    transform: rotate(var(--rotation));

}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 2400deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    /* background-color: black;
    border: 1px solid white; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after{
    content: '';
    /* position: absolute; */
    background-color: black;
    z-index: 11;
    width: 5px;
    height: 5px;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} 

.clock .hand.second{
    position: absolute;
    width: 3px;
    height: 33%;
    background-color: red;
}

.clock .howtoplay{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 37%;
    width: 500px;
    height: 20%;
    color: red;
}

.clock .hand.minute {
    position: absolute;
    width: 7px;
    height: 30%;
    background-color: black;
}

.clock .hand.hour {
    position: absolute;
    width: 10px;
    height: 20%;
    background-color: black;
}

/* body{
    background-image: url("stair2.png");
    background-color: gold;
} */