.tabs {
    border: 1px solid lightgray;
    display: flex;
    position: fixed;
    left: 30vh;
}

.tabs-header {
    width: 225px;
    flex-shrink: 0;
    background: lightgray;

}

.tabs-button {
    display: block;

    /* padding-right: 100px; */

    background: lightgray;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.tabs-button:active {
    background: gray;
}

.tabs-button:not(:last-of-type) {
    border-bottom: 2px solid whitesmoke;
}

.tabs-button--active {
    font-weight: bold;
    border-right: 2px solid blue;
    background: gray;
}

button {
    font-size: 40px;
}

.tabs-content {
    padding: 500px;
    font-size: 30px;
    display: none;

    /* outline: none; */

    border: none;

}

.tabs-content--active{
    display: block;
    border: red;
    outline: blue;

}

.clock {
    display: block;
    left: 25%;
    top: 5%;
}

.tabs-content > :first-child {
    margin-top: 0;
}