*, *::after, *before {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300px;
}

body {
    /* background: linear-gradient(to right hsl(200, 100%, 50%), hsl(150, 100%, 50%)); */
    background-image: url("https://unsplash.com/photos/xdai21Y9pek");
    background-color: #cccccc;
}

.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 0%;
    border: 2px solid blue;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 300px;
    height: 300px;
    /* background-color: red; */
    text-align: center;
    transform: rotate(var(--rotation));

}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 2400deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }